---
layout: layout.njk
pageType: home
title: Hi, I’m Josh Crain.
metaTitle: Josh Crain
description: Josh Crain has experience as a web designer, product designer, and front-end developer. Design allows Josh to make an impact through user advocacy, research, web standards, and code.
changefreq: monthly
priority: "1.0"
---
<div class="hero">
    <div class="wrapper fade-in">
    <header>
        <h1>{{ title }}</h1> 
    </header>
    <div class="grid-layout_home">
        <div class="layout-section text_center"> 
        </div>
        <div class="grid-content">
            <p class="text--larger">I design and build for the web. My work allows me to make an impact through user advocacy, web standards, research, and code. I <a href="/about/running/">run</a> and <a href="/sketch/">sketch</a> in my spare time. There are also <a href="/about/">other interesting things</a>.</p>
        </div>
    </div>
</div>
</div>
<div class="wrapper">
<section class="grid-layout_home">
    <div class="layout-section"> 
        <h2>Notes</h2>
        <span class="text--smaller">{{ collections.notes | length }} posts</span>
    </div>
    <div class="grid-content">
    <div class="subgrid">
    {% set items = collections.notes | reverse %}
    {% for post in items.slice(0, 6) %}
    <div class="grid-half@l">
        <div>
            <a href="{{ post.url }}" class="text--larger">{{ post.data.title }}</a>
            <p class="line-clamp"><span class="small-caps"><time datetime="{{ post.date | date('YYYY-MM-DD HH:mm') }}">{{ post.date | date("DD MMM YYYY") }}</time> ⁃ <span class="article--tags">{% for tag in post.data.tags.slice(0, 2) %}{% if tag != 'notes' %}<span> {{tag}}</span>{% endif %}{% endfor %}</span></span> <br/>
            {{ post.data.description }}</p>
        </div>
    </div>
    {% endfor %}
    <div class="grid-full@l">
        <div>
            <p><i>See <a href="/notes/">all notes</a> or a list of semi-weekly <a href="/tags/weeknotes/">weeknotes</a>. The most recent is {% set items = collections.weeknotes | reverse %}{% for post in items.slice(0, 1) %}<a href="{{ post.url }}">{{ post.data.title }}</a>{% endfor %}.</i></p>
        </div>
    </div>
    </div>
    </div>
    </section>
</div>
<div class="wrapper">
<section class="grid-layout_home">
    <div class="layout-section">
        <h2>Sketches</h2>
        <span class="text--smaller">{{ collections.sketches | length }} pages</span>
    </div>
<div class="grid-content">
<div class="subgrid">
{% for post in collections.sketches | reverse %}
<div class="grid-quarter@l tile">
<img src="{{post.data.metaImage}}" alt="Artwork {{ post.data.title }}" loading="lazy">
    <div class="tile_inner">
        <a href="{{ post.url }}" class="tile_link"><span class="tile_name">{{ post.data.title }}</span></a>
        <span class="tile_desc text--smaller">{{ post.data.description }}</span>
    </div>
</div>
{% endfor %} 
</div>
</div>
</section>
<section class="grid-layout_home">
    <div class="layout-section">
        <h2>Art</h2>
        <span class="text--smaller">{{ art | length }} artworks</span>
    </div>
<div class="grid-content">
<div class="subgrid">
{% for item in art %}
    {% if item.featured == true  %}
    <div class="grid-quarter@l tile">
    <a href="/art/{{ item.group | slug }}/"><img src="https://res.cloudinary.com/joshcrain/image/upload/c_thumb,g_face,h_300,w_300/art/{{ item.date | date('YYYY') }}/{{ item.file }}" alt="{{ item.alt }}" loading="lazy"></a>
        <div class="tile_inner">
            <a href="/art/{{ item.group | slug }}/" class="tile_link"><span class="tile_name">{{ item.group }}</span></a>
            <span class="tile_desc text--smaller">{{ item.date | date("YYYY") }}. {{ item.medium }}. {{ item.description }}</span>
        </div>
    </div>
    {% endif %}
{% endfor %}
<div class="grid-full@l">
    <div>
        <p><i>See <a href="/art/">all art</a>. The most recent is titled {% set items = art %}{% for item in items.slice(0, 1) %}<a href="/art/{{ item.group | slug }}/">{{ item.title }}</a>{% endfor %}.</i></p>
    </div>
</div>
</div>
</div>
</section>
</div>
<div class="wrapper">
<section class="grid-layout_home">
    <div class="layout-section">
        <h2>Running</h2>
        <span class="text--smaller">{{ running.garmin.activityList | length }} activities</span>
    </div>
<div class="grid-content">
    <table class="table_rwd">
        <thead>
        <tr>
            <th scope="col">When</th>
            <th scope="col">Distance</th>
            <th scope="col">Time</th>
            <th scope="col">Pace</th>
            <th scope="col">Heart Rate</th>
            <th scope="col"><abbr title="volume, oxygen, maximum">VO<sub>2</sub></abbr> Max</th>
        </tr>
        </thead>
        {% set rundata = running.garmin.activityList %}
        {% for item in rundata.slice(0, 5) %}
            {% if item.sportTypeId == "1" %}
                {% include "_page_partial/running-columns.njk" %}
            {% endif %}
        {% endfor %}
    </table>
    <p><i>See <a href="/about/running/">all running activity</a> or activity for the years <a href="/about/running/2020/">2020</a>, <a href="/about/running/2021/">2021</a>,  and <a href="/about/running/2022/">2022</a>. More <a href="/notes/2021/eleventy-garmin-connect/">about the project</a>.</i></p>
</div>
</section>
</div>