---
layout: layout.njk
pageType: home
title: Josh Crain
metaTitle: The Homepage of Josh Crain
description: The personal website of Josh Crain a web designer, product designer, and front-end developer.
changefreq: monthly
priority: "1.0"
---
<div class="hero">
    <div class="wrapper fade-in">
        <div class="grid-layout_hero">
            <div class="hero-image"> 
                {% include "_svg/scandi-joshtimized.svg" %} 
            </div>
            <header class="hero-title">
                <h1><span class="intro">Hi, I’m</span> {{ title }}.</h1>
            </header>
            <div class="hero-content">
                <p class="text--larger">I design and build for the web. My work allows me to make an impact through user advocacy, web standards, research, and code. I <a href="/running/">run</a> and <a href="/art/">sketch</a> in my spare time. There are also <a href="/about/">other interesting things</a>.</p>
                <p><i>You are welcome to <a href="/say-hello/">say hello</a> or ask a question.</i></p>
            </div>
        </div>
    </div>
</div>
{% include "_svg/divider.svg" %} 
<div class="wrapper">
    <section class="grid-layout_home">
        <div class="layout-section"> 
            <h2>Notes</h2>
            <span class="meta">{{ collections.notes | length }} posts</span>
        </div>
        <div class="grid-content">
            <div class="subgrid">
                {% set items = collections.notes | reverse %}
                {% for post in items.slice(0, 3) %}
                <div class="grid-third">
                    <div>
                        <a href="{{ post.url }}" class="h3">{{ post.data.title | replaceAmpersand | safe }}</a>
                        <p class="line-clamp text--smaller"><span class="meta"><time datetime="{{ post.date | date('YYYY-MM-DD HH:mm') }}">{{ post.date | date("MMM DD YYYY") }}</time> ⁃ <span class="article--tags">{% for tag in post.data.tags.slice(0, 2) %}{% if tag != 'notes' %}<span> {{tag}}</span>{% endif %}{% endfor %}</span></span> <br/>
                        <span class="">{{ post.data.description }}</span></p>
                    </div>
                </div>
                {% endfor %}
                <div class="grid-full">
                    <div>
                        <p><i>See <a href="/notes/">all notes</a> or a list of semi-weekly <a href="/tags/weeknotes/">weeknotes</a>. The most recent is {% set items = collections.weeknotes | reverse %}{% for post in items.slice(0, 1) %}<a href="{{ post.url }}">{{ post.data.title }}</a>{% endfor %}.</i></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="wrapper">
    <section class="grid-layout_home">
        <div class="layout-section">
            <h2>Art</h2>
            <span class="meta">{{ collections.artworks | length }} items</span>
        </div>
        <div class="grid-content">
            <div class="subgrid">
                {% for item in collections.artworks | reverse %} 
                {% if item.data.featured %}
                <div class="grid-third tile">
        
                    <a href="{{ item.url }}">{% gridImage item.data.image, item.data.alt %}</a>
                        <div class="tile_inner item_detail">
                            <a href="{{ item.url }}" class="tile_link"><span class="tile_desc">{{ item.data.title }} <p class="line-clamp"><span class="meta text--smaller">{{ item.data.year }} - {{ item.data.medium }}</span></p></span></a>
                        </div>
                    </div>
                {% endif %}
                {% endfor %}
            
            <div class="grid-full">
                <div>
                    <p><i>See <a href="/art/">all art</a>. The most recent is titled {% set items = collections.artworks | reverse %}{% for art in items.slice(0, 1) %}<a href="{{ art.url }}">{{ art.data.title }}</a>{% endfor %}.</i></p>
                </div>
            </div>
            </div>
        </div>
    </section>
</div>
<div class="wrapper">
    <section class="grid-layout_home">
        <div class="layout-section">
            <h2>Running</h2>
            <span class="meta">{{ collections.combinedActivityList| length }} activities</span>
        </div>
        <div class="grid-content">
            <table class="table_rwd">
                <thead>
                    <tr>
                        <th scope="col">When</th>
                        <th scope="col">Distance</th>
                        <th scope="col">Time</th>
                        <th scope="col">Pace</th>
                        <th scope="col">Heart Rate</th>
                    </tr>
                </thead>
                {% set rundata = collections.combinedActivityList %}
                {% for item in rundata.slice(0, 10) %}
                    {% include "_page_partial/running-columns.njk" %}
                {% endfor %}
            </table>
            <p><i>See <a href="/running/">all running</a> or the years <a href="/running/2020/">2020</a>, <a href="/running/2021/">2021</a>,  <a href="/running/2022/">2022</a>,  <a href="/running/2023/">2023</a>,  and <a href="/running/2024/">2024</a>.</i></p>
        </div>
    </section>
</div>