---
permalink: /sitemap.xml
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% for item in collections.all %}
{% if item.data.ignore != true %}
  <url>
    <loc>https://joshcrain.io{{ item.url }}</loc>
    <lastmod>{{ item.date | date("YYYY-MM-DD") }}</lastmod>
    <changefreq>{{ item.data.changefreq }}{% if item.data.changefreq == blank %}monthly{% endif %}</changefreq>
    <priority>{{ item.data.priority }}{% if item.data.priority == blank %}0.5{% endif %}</priority>
  </url>
{% endif %}
{% endfor %}
</urlset>