---
layout: "layout.njk"
title: Tags
permalink: /tags/
---
<p class="lead">Pages are currently filed under these tags.</p>
<ul>
{% for tag in collections.tagList %}
<li>
  <a href="/tags/{{ tag.title | slugify }}/">{{ tag.title }}</a>
  <span class="meta">({{ tag.count }})</span>
</li>
{% endfor %}
</ul>

