---
layout: "layout.njk"
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
permalink: /tags/{{ tag }}/
---
<p class="lead">Here are all articles tagged with “{{ tag }}.” </p>
<ul class="list--articles">
{% set taglist = collections[ tag ] | reverse %}
{% for post in taglist %}
  <li><a href="{{ post.url | url }}" class="text--largest">{{ post.data.title }}</a>
  <p>{% if post.data.date %}<time datetime="{{ post.date | date('YYYY-MM-DD HH:mm') }}" class="text--secondary small-caps">{{ post.data.date|date("D MMM Y") }}</time> &mdash; {% endif %}{{ post.data.description }}</p></li>
{% endfor %}
</ul>