---
layout: "layout.njk"
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
permalink: /tags/{{ tag }}/
---
<p class="lead">Here are all articles tagged with “{{ tag }}.” </p>
<ul class="list--articles">
{% set taglist = collections[ tag ] | reverse %}
{% for post in taglist %}
<li>
  <a href="{{ post.url }}" class="text--larger">{{ post.data.title }}</a>
  <p><span class="small-caps"><time datetime="{{ post.date | date('YYYY-MM-DD HH:mm') }}">{{ post.date | date("DD MMM YYYY") }}</time> ⁃ <span class="article--tags">{% for tag in post.data.tags %}{% if tag != 'notes' %}<span> {{tag}}</span>{% endif %}{% endfor %}</span></span> <br>
      {{ post.data.description }}</p>
</li>
{% endfor %}
</ul>