---
title: 2021 Running Log
metaTitle: 2021 Running Log
pageType: section
tags: ['running']
description: A 2021 running log to track dates, distance, time, pace, heart rate, and Vo2 Max. 
---
<p class="lead">I logged {{ collections.2021ActivityList | length }} runs in 2021. <a href="/running/">See all</a>.  </p>

<table class="table_rwd">
  <thead>
  <tr>
    <th>When</th>
    <th>Distance</th>
    <th>Time</th>
    <th>Pace</th>
    <th>Heart Rate</th>
    </tr>
   </thead>
    {% for item in collections.2021ActivityList %}
    {% include "_page_partial/running-columns.njk" %}
    {% endfor %}
</table>