---
title: 2022 Running Log
metaTitle: 2022 Running Log
tags: ['running']
description: A 2022 running log to track dates, distance, time, pace, heart rate, and Vo2 Max. 
---
<p class="lead">I logged {{ collections.2022ActivityList | length }} runs in 2022. <a href="/running/">See all</a>.  </p>

<table class="full_width table_rwd">
  <thead>
  <tr>
    <th>When</th>
    <th>Distance</th>
    <th>Time</th>
    <th>Pace</th>
    <th>Heart Rate</th>
    </tr>
   </thead>
   {% for item in collections.2022ActivityList %}
   {% include "_page_partial/running-columns.njk" %}
  {% endfor %}
</table>