---
title: Running Log
metaTitle: Running Log
tags: ['running']
description: A running log to track dates, distance, time, pace, heart rate, and Vo2 Max.
---
<p class="lead">I have logged {{ running.garmin.activityList | length }} runs using my watch and Garmin Connect. More <a href="/notes/2021/eleventy-garmin-connect/">about the project</a>. </p>

<table class="full_width table_rwd">
  <thead>
  <tr>
    <th scope="col">When</th>
    <th scope="col">Distance</th>
    <th scope="col">Time</th>
    <th scope="col">Pace</th>
    <th scope="col">Heart Rate</th>
    <th scope="col"><abbr title="volume, oxygen, maximum">VO<sub>2</sub></abbr> Max</th>
    </tr>
   </thead>
   {% for item in running.garmin.activityList %}
  {% if item.sportTypeId == "1" %}
  {% include "_page_partial/running-columns.njk" %}
  {% endif %}
{% endfor %}
</table>