---
pagination:
    data: art
    size: 1
    alias: art
permalink: "art/{{ art.title | slug }}/"
---

<figure>
    <a href="/art/{{ art.title | slug }}/"><img src="https://res.cloudinary.com/joshcrain/image/upload/c_scale,q_auto,w_300/r_max/e_sharpen/art/{{ art.date | date('YYYY') }}/{{ art.file }}" alt="{{ art.alt }}" loading="lazy"></a>
    <figcaption>{{ art.title }}. {{ art.date | date("YYYY") }}. {{ art.medium }}. {{ art.description }}</figcaption>
</figure>   

