---
title: Art
metaTitle: Josh Crain's Art
description: Artwork to share.
---
{% for item in art %} 
<figure>
    <a href="/art/{{ item.title | slug }}/"><img src="https://res.cloudinary.com/joshcrain/image/upload/art/{{ item.date | date('YYYY') }}/w_400,q_95,c_scale/{{ item.file }}" alt="{{ item.alt }}" loading="lazy"></a>
    <figcaption>{{ item.title }}. {{ item.date | date("YYYY") }}. {{ item.medium }}. {{ item.description }}</figcaption>
</figure>    
{% endfor %}