<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<title>{{ metaTitle }}{% if metaTitle == blank %}{{ title }}{% endif %}{{ artworks.group }}{% if (title or artworks.group) == blank %}“{{ tag }}”{% endif %} - joshcrain.io</title>
<meta name="description" content="{{ description | safe }}">
<meta name="author" content="Josh Crain">
<meta name="generator" content="Eleventy">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" href="favicon.ico" type="image/x-icon">
<link rel="manifest" href="/site.webmanifest">
<meta name="theme-color" content="rgb(239, 233, 228)">
<link rel="preload" href="/fonts/DMSerifDisplay-Regular.woff2" as="font" type="font/woff2" crossorigin>
{% set css %}{% include "styles.css" %}{% endset %}<style>{{ css | cssmin | safe }}</style>
<link rel="alternate" type="application/atom+xml" title="RSS Feed for joshcrain.io" href="/feed.xml" />
<script type="application/ld+json">{"@context": "http://schema.org","@type": "Person","name": "Josh Crain","givenName": "Joshua","familyName": "Crain","jobTitle": "Web Designer and Developer","additionalName": "Web Designer | Front-End Developer","knowsAbout": "Web Design, Product Design, Front-End Development, User-Centric Design, Web Standards","email": "josh.crain+joshcrain_io@gmail.com"}</script>