<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<title>{{ metaTitle }}{% if metaTitle == blank %}{{ title }}{% endif %}{{ artworks.group }}{% if (title or artworks.group) == blank %}“{{ tag }}”{% endif %}</title>
<meta name="description" content="{{ description | safe }}">
<meta name="author" content="Josh Crain">
<meta name="generator" content="Eleventy">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 version=%221.1%22 xmlns:xlink=%22http://www.w3.org/1999/xlink%22 xmlns:svgjs=%22http://svgjs.com/svgjs%22 width=%2250%22 height=%2250%22><svg xmlns=%22http://www.w3.org/2000/svg%22 width=%2250%22 height=%2250%22 role=%22img%22 aria-labelledby=%22svgLogo%22 viewBox=%220 0 50 22%22><title id=%22SvgjsTitle1000%22>Josh Crain</title><circle cx=%2240%22 cy=%225%22 r=%225%22></circle><circle cx=%2240%22 cy=%2217%22 r=%225%22></circle><circle cx=%225%22 cy=%2217%22 r=%225%22></circle><path d=%22M33 0v22c-5.5 0-10-4.9-10-11S27.5 0 33 0zM22 11c0 6.1-4.5 11-10 11V0h10v11z%22></path></svg><style>@media(prefers-color-scheme:light){:root{filter:none;}}@media(prefers-color-scheme:dark){:root{filter:invert(100%);}}</style></svg>" type="image/svg+xml">
<link rel="manifest" href="/site.webmanifest">
<meta name="theme-color" content="rgb(239, 233, 228)">
<link rel="preload" href="/fonts/DMSerifDisplay-Regular.woff2" as="font" type="font/woff2" crossorigin>
{% set css %}{% include "styles.css" %}{% endset %}<style>{{ css | cssmin | safe }}</style>
<link rel="alternate" type="application/atom+xml" title="RSS Feed for joshcrain.io" href="/feed.xml" />
<script type="application/ld+json">{"@context": "http://schema.org","@type": "Person","name": "Josh Crain","givenName": "Joshua","familyName": "Crain","jobTitle": "Web Designer and Developer","additionalName": "Web Designer | Front-End Developer","knowsAbout": "Web Design, Product Design, Front-End Development, User-Centric Design, Web Standards","email": "josh.crain+joshcrain_io@gmail.com"}</script>