<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "document-head.njk" %}
    </head>
    <body class="no-js" onload="jscheck()"> 
        {% include "site-header.njk" %}
        <main class="site_content {% if pageType == 'home' %}home{% endif %}" id="content">
        {% if pageType == "home" %}
            {{ content | safe }}
        {% else %}
            <div class="wrapper">
                <header class="text_center">
                    <h1>{{ title | replaceAmpersand | safe }}</h1> 
                    {% if date != blank %}<div class="meta"><time datetime="{{ date | date('YYYY-MM-DD HH:mm') }}">{{ date|date("MMM DD YYYY") }}</time>&nbsp; ⁃ &nbsp;{{ category }}</div>{% endif %} 
                </header>
                    <div class="{% if pageType == 'section' %}grid-layout_section{% else %} grid-layout_page{% endif %}">
                        <div class="grid-content">
                    {{ content | safe }}
                    {% if pageType != "section" %}
                    {% if tags >= "0" %}
                        <p class="article--tags">
                        Filed under: 
                        {% for tag in tags %}<span><a href="/tags/{{ tag | slug }}/" aria-label="Pages tagged with {{tag}}">{{tag}}</a></span> {% endfor %}
                        </p>
                        <div class="subgrid paging">
                            {% set previousNote = collections.notes | getPreviousCollectionItem(page) %}
                            {% set nextNote = collections.notes | getNextCollectionItem(page) %}
                            {% set previousWeeknote = collections.weeknotes | getPreviousCollectionItem(page) %}
                            {% set nextWeeknote = collections.weeknotes | getNextCollectionItem(page) %}
                            {% set nextRun = collections.runlog | getPreviousCollectionItem(page) %}
                            {% set previousRun = collections.runlog | getNextCollectionItem(page) %}
                            {% set nextArt = collections.artworks | getPreviousCollectionItem(page) %}
                            {% set previousArt = collections.artworks | getNextCollectionItem(page) %}
                            
                            {% if previousNote %}
                            <div class="grid-half">
                                <div class="text--smaller"><i>Previously</i></div>
                                <a href="{{ previousNote.url }}">{{ previousNote.data.title }}</a>
                                <p class="line-clamp"><span class="meta text--smaller"><time datetime="{{ previousNote.date | date('YYYY-MM-DD HH:mm') }}">{{ previousNote.date | date("MMM DD YYYY") }}</time> ⁃ <span class="article--tags">{% for tag in previousNote.data.tags.slice(0, 2) %}{% if tag != 'notes' %}<span> {{tag}}</span>{% endif %}{% endfor %}</span></span></p>
                            </div>
                            {% endif %}
                            {% if nextNote %}
                            <div class="grid-half">
                                <div class="text--smaller"><i>Up next</i></div>
                                <a href="{{ nextNote.url }}">{{ nextNote.data.title }}</a>
                                <p class="line-clamp"><span class="meta text--smaller"><time datetime="{{ post.date | date('YYYY-MM-DD HH:mm') }}">{{ nextNote.date | date("MMM DD YYYY") }}</time> ⁃ <span class="article--tags">{% for tag in nextNote.data.tags.slice(0, 2) %}{% if tag != 'notes' %}<span> {{tag}}</span>{% endif %}{% endfor %}</span></span></p>
                            </div>
                            {% endif %}
                            {% if previousWeeknote %}
                            <div class="grid-half">
                                <div class="text--smaller"><i>Previously</i></div>
                                <a href="{{ previousWeeknote.url }}">{{ previousWeeknote.data.title }}</a>
                                <p class="line-clamp"><span class="meta text--smaller"><time datetime="{{ previousWeeknote.date | date('YYYY-MM-DD HH:mm') }}">{{ previousWeeknote.date | date("MMM DD YYYY") }}</time> ⁃ <span class="article--tags">{% for tag in previousWeeknote.data.tags.slice(0, 2) %}{% if tag != 'notes' %}<span> {{tag}}</span>{% endif %}{% endfor %}</span></span></p>
                            </div>
                            {% endif %}
                            {% if nextWeeknote %}
                            <div class="grid-half">
                                <div class="text--smaller"><i>Up next</i></div>
                                <a href="{{ nextWeeknote.url }}">{{ nextWeeknote.data.title }}</a>
                                <p class="line-clamp"><span class="meta text--smaller"><time datetime="{{ post.date | date('YYYY-MM-DD HH:mm') }}">{{ nextWeeknote.date | date("MMM DD YYYY") }}</time> ⁃ <span class="article--tags">{% for tag in nextWeeknote.data.tags.slice(0, 2) %}{% if tag != 'notes' %}<span> {{tag}}</span>{% endif %}{% endfor %}</span></span></p>
                            </div>
                            {% endif %}
                            {% if previousRun %}
                            <div class="grid-half">
                                <div class="text--smaller"><i>Previously</i></div>
                                <a href="{{ previousRun.url }}">{{ previousRun.data.title }}</a>
                            </div>
                            {% endif %}
                            {% if nextRun %}
                            <div class="grid-half">
                                <div class="text--smaller"><i>Up next</i></div>
                                <a href="{{ nextRun.url }}">{{ nextRun.data.title }}</a>
                            </div>
                            {% endif %}
                            {% if previousArt %}
                            <div class="grid-half">
                                <div class="text--smaller"><i>Previously</i></div>
                                <a href="{{ previousArt.url }}">{{ previousArt.data.title }}</a>
                            </div>
                            {% endif %}
                            {% if nextArt %}
                            <div class="grid-half">
                                <div class="text--smaller"><i>Up next</i></div>
                                <a href="{{ nextArt.url }}">{{ nextArt.data.title }}</a>
                            </div>
                            {% endif %}
                            
                        </div>
                    {% endif %}  
                    {% endif %}  
                </div>
                    </div>
                </div>
        {% endif %}
        </main>
        {% include "site-footer.njk" %}
    </body>
    {% set js %}{% include "init.js" %}{% endset %}<script>{{ js | jsmin | safe }}</script>
</html>