---
title: Running Log
metaTitle: Running Log
tags: ['about','running']
description: A running log to track dates, distance, time, pace, heart rate, and Vo2 Max.
---
<p class="lead">Running activity between <a href="/about/running/2020/">2020</a> and <a href="/about/running/2021/">2021</a> tracked with a Garmin Forerunner 45, logged in Garmin Connect, and published here with Eleventy. More <a href="/notes/2021/eleventy-garmin-connect/">about the project</a>. </p>

<table class="full_width table_rwd">
  <thead>
  <tr>
    <th scope="col">When</th>
    <th scope="col">Distance</th>
    <th scope="col">Time</th>
    <th scope="col">Pace</th>
    <th scope="col">Heart Rate</th>
    <th scope="col"><abbr title="volume, oxygen, maximum">VO<sub>2</sub> Max</th>
    </tr>
   </thead>
   {% for item in running.garmin.activityList %}
  {% if item.sportTypeId == "1" %}
  {% include "_page_partial/running-columns.njk" %}
  {% endif %}
{% endfor %}
</table>