---
title: Training Log
metaTitle: Running Log
tags: about
description: Running activity.
---
<p class="lead">Running activity tracked with a Garmin Forerunner 45, logged in Garmin Connect, and published here with Eleventy. </p>

<table class="full_width">
  <thead>
  <tr>
    <th>When</th>
    <th>Distance</th>
    <th>Time</th>
    <th>Pace</th>
    <th>Heart Rate</th>
    <th><abbr title="volume, oxygen, maximum">VO<sub>2</sub> Max</th>
    </tr>
   </thead>
   {% for item in running.garmin.activityList %}
  {% if item.sportTypeId == "1" %}
  <tr>
    <th scope="rowgroup" {% if (item.description) or (item.favorite == true) or (item.pr == true) %}rowspan="2"{% endif %}><a href="https://connect.garmin.com/modern/activity/{{ item.activityId }}">{{ item.startTimeLocal | date("M/D/Y") }}</a><br> {{ item.startTimeLocal | date("h:mm A")}}</th>
    <td>{{ item.distance | miles }} mi</td>
    <td>{{ item.duration | duration("mm:ss") }}</td>
    <td>{{ ((item.duration)/(item.distance | miles)) | duration("m:ss") }}/mi</td>
    <td>{{ item.averageHR }} <acronym title="beats per minute">bpm</acronym><br> ({{ item.maxHR }}&nbsp;Max)</td>
    <td>{% if item.vO2MaxValue %}{{ item.vO2MaxValue }} <abbr title="volume, oxygen, maximum">VO<sub>2</sub> Max</abbr>{% endif %}</td>
  </tr>
  {% if (item.description) or (item.favorite == true) or (item.pr == true) %}<tr>
    <td colspan="5">
      {% if item.description %}<p>{{ item.description }}</p>{% endif %}
      {% if item.favorite == true %}<p>⭐ Marked as one of my favorites.</p>{% endif %}
      {% if item.pr == true %}<p>🏆 Includes a personal record.</p>{% endif %}
    </td>
  </tr>{% endif %}
  {% endif %}
{% endfor %}
</table>