---
title: Notes
metaTitle: Josh Crain’s Notes
description: Writings. Some personal and some related to work as a web and product designer. 
---
<p class="lead">Writing to share with you. </p>
<ul class="list--articles">
    {% set items = collections.notes | reverse %}
    {% for post in items %} 
    <li>
        <a href="{{ post.url }}" class="h2">{{ post.data.title }}</a>
        <div><span class="meta"><time datetime="{{ post.date | date('YYYY-MM-DD HH:mm') }}">{{ post.date | date("MMM DD YYYY") }}</time> ⁃ <span class="article--tags">{% for tag in post.data.tags %}{% if tag != 'notes' %}<span> {{tag}}</span>{% endif %}{% endfor %}</span></span> <br>
            {{ post.data.description }}</div>
    </li>
    {% endfor %}
</ul>
