---
title: Notes
metaTitle: Josh Crain's Notes
description: What thinking about, what I’ve learned, and what I’ve made. 
---
<p class="lead">{{description}}</p>
<ul class="list--articles">
    {% set items = collections.notes | reverse %}
    {% for post in items %} 
    <li>
        <a href="{{ post.url }}" class="text--larger">{{ post.data.title }}</a>
        <p><span class="small-caps"><time datetime="{{ post.date | date('YYYY-MM-DD HH:mm') }}">{{ post.date | date("DD MMM YYYY") }}</time> ⁃ <span class="article--tags">{% for tag in post.data.tags %}{% if tag != 'notes' %}<span> {{tag}}</span>{% endif %}{% endfor %}</span></span> <br>
            {{ post.data.description }}</p>
    </li>
    {% endfor %}
</ul>
<p class="lead">I also (try to) write a short weekly update called <a href="/tags/weeknotes/">weeknotes</a>.</p>