<tr id="{{ item.activityId }}">
    <th scope="rowgroup" {% if (item.description) or (item.pr == true) %}rowspan="2"{% endif %}><a href="/running/{{ item.startTimeLocal | date('YYYY') }}/{{ item.activityId }}">{{ item.startTimeLocal | date("M/D/Y") }}</a><br> {{ item.startTimeLocal | date("h:mm A")}}</th>
    <td data-tblColumn="Distance">{{ item.distance | miles }} <abbr title="miles">mi</abbr></td>
    <td data-tblColumn="Time">{{ item.duration | duration("mm:ss") }}</td>
    <td data-tblColumn="Pace">{{ ((item.duration)/(item.distance | miles)) | duration("m:ss") }}/<abbr title="miles">mi</abbr></td>
    <td data-tblColumn="Heart Rate"><span>{{ item.averageHR }} <abbr title="beats per minute">bpm</abbr><br> ({{ item.maxHR }}&nbsp;Max)</span></td>
  </tr>
  {% if (item.description) or (item.pr == true) %}<tr class="has-colspan">
    <td colspan="4" data-tblColumn="Description">
      <span>{% if item.pr == true %}🏆&nbsp;New <abbr title="Personal Record">PR</abbr>!{% endif %} {% if item.description %}{{ item.description }}{% endif %}</span>
    </td>
  </tr>{% endif %}