<tr id="{{ item.activityId }}">
    <th scope="rowgroup" {% if (item.description) or (item.pr == true) %}rowspan="2"{% endif %}><a href="/running/{{ item.startTimeLocal | date('YYYY') }}/{{ item.activityId }}">{{ item.startTimeLocal | date("M/D/Y") }}</a> <div>{{ item.startTimeLocal | date("h:mm A")}}</div></th>
    <td data-tblColumn="Distance"><span>{{ item.distance | miles }}</span>&nbsp;<abbr title="miles">mi</abbr></td>
    <td data-tblColumn="Time">
      {% if item.duration < 3600 %}
        <time datetime="{{ item.duration | duration('mm') }}m {{ item.duration | duration('ss') }}s">{{ item.duration | duration("mm:ss") }}</time>
      {% else %}
        <time datetime="{{ item.duration | duration('H') }}h {{ item.duration | duration('mm') }}m {{ item.duration | duration('ss') }}s">{{ item.duration | duration("H:mm:ss") }}</time>
      {% endif %}  
    </td>
    <td data-tblColumn="Pace"><time datetime="{{ ((item.duration)/(item.distance | miles)) | duration('m') }}m {{ ((item.duration)/(item.distance | miles)) | duration('ss') }}s">{{ ((item.duration)/(item.distance | miles)) | duration("m:ss") }}</time><abbr title=" per mile">/mi</abbr></td>
    <td data-tblColumn="Heart Rate"><span>{{ item.averageHR | heartRate }} <abbr title="beats per minute">bpm </abbr></span> <div>({{ item.maxHR | heartRate }}&nbsp;Max)</div></td>
  </tr>
  {% if (item.description) or (item.pr == true) %}<tr class="has-colspan">
    <td colspan="4" data-tblColumn="Description">
      <span>{% if item.pr == true %}🏆&nbsp;New <abbr title="Personal Record">PR</abbr>!{% endif %} {% if item.description %}{{ item.description }}{% endif %}</span>
    </td>
  </tr>{% endif %}